API_BASE_URL=http://localhost:43180
AGENT_SHARED_SECRET=replace-me
PROVIDER_VM_ID=dev-vm-1
BOOTSTRAP_TOKEN=
HOSTNAME=dev-vm-1
REGION=sgp1
SIZE_SLUG=s-4vcpu-8gb
MAX_INSTANCES=2
AGENT_VERSION=0.1.0
POLLING_INTERVAL_MS=5000
